<div class="field">
<%=  "Días: #{@dias}" %><br>
<%=  "Total: #{(@suma/3600).to_i} horas #{((@suma%3600)/60).to_i} minutos" %><br>
<%=  "Hoy: #{(@suma_hoy/3600).to_i} horas #{((@suma_hoy%3600)/60).to_i} minutos" %><br>
<br>
<%= form_for(@hora, as: :hora, url: principal_entrar_path(:hora)) do |f| %>
<%= f.submit "Entrar" %>
<% end %>
<br>
<%= form_for(@hora, as: :hora, url: principal_salir_path(:hora)) do |f| %>
<%= f.submit "Salir" %>
<% end %>
<br>
<table border=1>
  <% @elements.each do |t| %>
    <tr><td><%= t.tipo %></td><td><%= t.hora.strftime('%d/%m/%Y %H:%M:%S') %></td><td><%= link_to 'Editar', edit_principal_path(t) %></td><td><%= link_to 'Borrar', principal_path(t), method: :delete %></td></tr>
  <% end %>
</table>
<br>
<%= button_to "Nuevo", new_principal_path, :method => :get %>
</div>